<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyenigma.dao.UsersMapper">
	<select id="findById" parameterType="int" resultType="Users">
		SELECT * FROM USERS WHERE USERID=#{USERID}
	</select>
	<insert id="insert" parameterType="Users" flushCache="true">

	</insert>
	<update id="update" parameterType="Users">

	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM USERS WHERE USERID=#{USERID}
	</delete>
	<select id="findByName" parameterType="String" resultType="Users">
		SELECT * FROM USERS
		WHERE NAME = #{name,jdbcType=VARCHAR}
	</select>
	<select id="findAll" resultType="Users">
		SELECT * FROM USERS
		WHERE STATUS='A'
	</select>
</mapper>